nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

nav ul li {
  padding: 5px;
}

nav ul li a {
  color: green;
}

.logout-confirm {
  position: absolute;
  border: 1px solid blue;
  padding: 5px;
  right: 50px;
  background-color: white;
  z-index: 10;
}

.logout-confirm button {
  cursor: pointer;
}
