.advert-list {
  border-radius: 10px;
  border-bottom: 2px solid lightskyblue;
  border-top: 1px solid lightskyblue;
  padding-bottom: 5px;
  padding: 0 5px 5px 5px;
}

.advert-list a {
  color: initial;
}

.new-advert {
  background-color: greenyellow;
  border-radius: 10px;
  padding: 5px;
  color: black;
  font-weight: bold;
}
